# Django settings secret key
SECRET_KEY=your-django-secret-key-here

# Django execution settings (default is True in development)
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Cloudflare R2 Object Storage
R2_ACCESS_KEY_ID=your-r2-access-key-id
R2_SECRET_ACCESS_KEY=your-r2-secret-access-key
R2_ENDPOINT=https://your-account-id.r2.cloudflarestorage.com
R2_BASE_URL=https://your-public-bucket-url.r2.dev
R2_BUCKET_NAME=your-bucket-name

# Redis Configuration (In-Memory Data Store & Cache)
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=
REDIS_URL=redis://127.0.0.1:6379/0

